---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
---

<span class="self-center">
  <Image 
    src={"~/assets/images/logo.svg"} 
    class="inline-block dark:hidden"
    alt={SITE?.name} 
    width={150}
    height={60}
  />
  <Image 
    src={"~/assets/images/logo-dark.svg"} 
    class="hidden dark:inline-block"
    alt={SITE?.name} 
    width={150}
    height={60}
  />
</span>
